body {
  background-color: gray;
}

.container {
  background-color: silver;
  margin: auto;
  width: 70%;
  height: 500px;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, .1);
  padding: 1%
}

.board {
  background-color: white;
  border: 1px solid black;
  width: 100%;
  height: 85%;
  margin: auto;
}

.pixel {
  border: 1px solid black;
  width: calc(50% - 2px);
  height: 50%;
  background-color: white;
  float: left;
}

.palette {
  padding: 2%;
  display: grid;
  margin-top: 2%;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10%;
  grid-column-gap: 1%;
  grid-template-rows: 100%;
  grid-template-rows: 48% 48%;
  grid-row-gap: 2%;
  grid-auto-flow: row;
}

.circle {
  border-radius: 100%;
  padding: 50%;
}

.colorRed {
  background-color: red;
}

.colorOrange {
  background-color: orange;
}

.colorYellow {
  background-color: yellow;
}

.colorGreen {
  background-color: green;
}

.colorBlue {
  background-color: blue;
}

.colorIndigo {
  background-color: indigo;
}

.colorWhite {
  background-color: white;
}
